In [99]:
from textblob import TextBlob
import tweepy
import pandas as pd
import numpy as py
import re, string

In [100]:
#Key Token

mykeys = open('apikey.txt', 'r').read().splitlines()

api_key = mykeys[0]
api_key_secret = mykeys[1]
access_token = mykeys[2]
access_token_secret = mykeys[3]
auth_hendler = tweepy.OAuthHandler(api_key, api_key_secret)
auth_hendler.set_access_token(access_token, access_token_secret)

In [36]:
#crawling data

api = tweepy.API(auth_hendler)

search_term = 'biznet'
tweet_amount = 300

#between two dates (just 1 month ago not more)
start_date = "2020-11-20"
end_date = "2020-11-30"

#Tweepy Cursor
tweets = tweepy.Cursor(api.search, q=search_term, lang='id', since=start_date, until=end_date).items(tweet_amount)

# Pulling information from tweets iterable 
tweets_ = [[tweet.created_at,tweet.user.screen_name, tweet.user.location, tweet.text] for tweet in tweets]

#Make DataFrame for tweets after crawling
tweets_list = pd.DataFrame(data=tweets_, columns=['Date','Username','Location','Text'])

# Creation of dataframe from tweets list
tweets_df = pd.DataFrame(tweets_list)
#tweets_df

In [41]:
#convert data to 

tweets_df.to_csv('data.csv', index = False, header = True)

In [153]:
#Preprocessing 

tweets = pd.read_csv('data.csv')
tweets.drop(['Date','Username','Location'], axis=1, inplace=True)
#tweets

In [154]:
#step Cleansing
#remove user
def remove_pattern(tweet, pattern):
    r = re.findall(pattern, tweet)
    for i in r:
        tweet = re.sub(i, '', tweet)
    return tweet    
tweets['remove_user'] = py.vectorize(remove_pattern)(tweets['Text'], "@[\w]*")

In [155]:
tweets

,Text,remove_user
0,@a_prmstr @JatibeningInfo @Franzknievel Kalo A...,"Kalo AL Biznet belom masuk, xl home belum m..."
1,bagaimana ini @MyRepublicID masa harga naik te...,bagaimana ini masa harga naik terus belom ada...
2,Ganti foto cantik chatku langsung diread ama a...,Ganti foto cantik chatku langsung diread ama a...
3,"@unarahmaa Aku ga nanya indihome, gamau wkwkwk...","Aku ga nanya indihome, gamau wkwkwk option te..."
4,Biznet terbaik https://t.co/D6bFZUo109,Biznet terbaik https://t.co/D6bFZUo109
...,...,...
295,"Udah nyobain indihome,mnc,biznet.\nPayah semua...","Udah nyobain indihome,mnc,biznet.\nPayah semua..."
296,"@AbsoluteJerry Hi AbsoluteJerry, selamat malam...","Hi AbsoluteJerry, selamat malam. Terkait kend..."
297,"@.biznet kita baikan aja yuk, foto di twitter ...",".biznet kita baikan aja yuk, foto di twitter l..."
298,Ganti wifi dari mnc ke biznet.\nBayar lebih ma...,Ganti wifi dari mnc ke biznet.\nBayar lebih ma...
299,@BiznetHome maaf biznet internet error lama ba...,maaf biznet internet error lama banget udah s...

In [156]:
def remove(tweet):
    #remove angka
    tweet = re.sub('[0-9]+', '', tweet)
    
    # remove stock market tickers like $GE
    tweet = re.sub(r'\$\w*', '', tweet)
 
    # remove old style retweet text "RT"
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    
    # remove hashtags
    # only removing the hash # sign from the word
    tweet = re.sub(r'#', '', tweet)
    
    #remove http
    tweet = re.sub(r'http\S+', '', tweet)
    
    return tweet
tweets['remove_RT'] = tweets['remove_user'].apply(lambda x: remove(x))

In [157]:
tweets

,Text,remove_user,remove_RT
0,@a_prmstr @JatibeningInfo @Franzknievel Kalo A...,"Kalo AL Biznet belom masuk, xl home belum m...","Kalo AL Biznet belom masuk, xl home belum m..."
1,bagaimana ini @MyRepublicID masa harga naik te...,bagaimana ini masa harga naik terus belom ada...,bagaimana ini masa harga naik terus belom ada...
2,Ganti foto cantik chatku langsung diread ama a...,Ganti foto cantik chatku langsung diread ama a...,Ganti foto cantik chatku langsung diread ama a...
3,"@unarahmaa Aku ga nanya indihome, gamau wkwkwk...","Aku ga nanya indihome, gamau wkwkwk option te...","Aku ga nanya indihome, gamau wkwkwk option te..."
4,Biznet terbaik https://t.co/D6bFZUo109,Biznet terbaik https://t.co/D6bFZUo109,Biznet terbaik
...,...,...,...
295,"Udah nyobain indihome,mnc,biznet.\nPayah semua...","Udah nyobain indihome,mnc,biznet.\nPayah semua...","Udah nyobain indihome,mnc,biznet.\nPayah semua..."
296,"@AbsoluteJerry Hi AbsoluteJerry, selamat malam...","Hi AbsoluteJerry, selamat malam. Terkait kend...","Hi AbsoluteJerry, selamat malam. Terkait kend..."
297,"@.biznet kita baikan aja yuk, foto di twitter ...",".biznet kita baikan aja yuk, foto di twitter l...",".biznet kita baikan aja yuk, foto di twitter l..."
298,Ganti wifi dari mnc ke biznet.\nBayar lebih ma...,Ganti wifi dari mnc ke biznet.\nBayar lebih ma...,Ganti wifi dari mnc ke biznet.\nBayar lebih ma...
299,@BiznetHome maaf biznet internet error lama ba...,maaf biznet internet error lama banget udah s...,maaf biznet internet error lama banget udah s...

In [150]:
tweets.drop_duplicates(subset ="remove_user", keep = 'first', inplace = True)

In [151]:
tweets.sort_values("remove_RT", inplace = True)

In [152]:
tweets

,Text,remove_user,remove_RT
240,1100000030834\nIni sudah kira2 hampir 24 jam s...,1100000030834\nIni sudah kira2 hampir 24 jam s...,"\nIni sudah kira hampir jam semenjak ""kendala..."
212,@sabar_mbok @BiznetHome @BiznetNetworks @tjapo...,Hahaha.. Ini gw tinggal di ibukota pr… h...,Hahaha.. Ini gw tinggal di ibukota pr…
21,@luthfiew @FirstMediaCares SAMAA..\n\ngue pun ...,"SAMAA..\n\ngue pun mau nyoba biznet, tapi pa...","SAMAA..\n\ngue pun mau nyoba biznet, tapi pa..."
167,@BiznetHome min. Bales kek :’(\n\nID 310009593...,min. Bales kek :’(\n\nID 3100095939\nUdh 4 ha...,min. Bales kek :’(\n\nID \nUdh hari jaringan...
199,"RT @ppid_smr: Perkaya Jaringan, Pemkot Welcome...","RT : Perkaya Jaringan, Pemkot Welcome Investas...",": Perkaya Jaringan, Pemkot Welcome Investasi B..."